body{
 margin: 0;
 padding: 0;
}

h1 {
 margin: 0;
 margin-left: 30px;
 font-family: 'Assistant';
 font-size: 36px;
 font-weight: 700;
}

p {
 margin-left: 30px;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 background-color: #1cc79d;
 color: white;
 position: fixed;
 width: 100%;
}

li {
 font-family: 'Poppins';
 float: left;
}

li a {
 display: block;
 padding: 18px 16px;
 text-decoration: none;
 color: white;
}

li a:hover {
 background-color: #555;
}

.l0 {
 font-weight: 600;
 font-size: 40px;
}

.B {
 font-family: 'Poppins';
 font-weight: 600;
 font-size: 15px;
 color: #555555;
}

.Q {
 font-family: 'Poppins';
 font-weight: 700;
 font-size: 16px;
}

.A {
 font-family: 'Poppins';
 font-weight: 400;
 font-size: 16px;
}

input[type="text"] {
 font-family: 'Arial';
 font-weight: 400;
 font-size: 15px;
 padding: 10px;
} 

input[type=submit] {
 width: 100px;
 background-color: #3ba1da;
 font-family: 'Poppins';
 font-weight: 400;
 font-size: 15px;
 color: #ffffff;
 margin: 0;
 opacity: 1;
 padding: 14px;
 border: none;
 border-radius: 4px;
}
